<!--Banner with user info-->
<div class = "container-fluid" style="background-color: LightPink">
  <div class = "container" style="padding: 10px">
    <div class = "row align-items-center">
      
      <!-- pic -->
      <div class = "col-md-4">
        <img class = "profile-pic banner-pic"
            src = <%= @user.photo%>>
      </div>
  
      <!-- info -->
      <div class = "col-md-6 banner-info">
        <div class="banner-title"><%=@user.name%></div>
        <div class="banner-subtitle"><%=@user.display_name%></div>
        <br>
        <div class="banner-text">
          <i class="fas fa-beer"></i> <%=@user.ratings.count%> Beers | 
          <i class="fas fa-heart"></i> <%=@user.favorites.count%> Favorites |              
          <i class="fas fa-bookmark"></i> <%=@user.flags.count%> Must-Try Beers 
          <br>
          <%@rating=@user.avg_rating%> 
          <%= render "shared/rating_stars.html.erb"%> <%=@rating%> Avg. Rating
        </div>
      </div>

      <!-- edit profile link (only visible when looking at your own page) --> 
      <div class = "col-md-2">
        <% if @current_user.id == @user.id %>
          <a href ="/edit_user_profile"><button type = "button" class = "btn btn-outline-light">Edit profile <i class="fas fa-user-edit"></i></button></a>
        <% end %>
      </div>
    </div>
  </div>
</div>





<br>

<!-- Ratings and others -->
<div class = "container"> 
  <div class = "row">
    <div class = "col-md-9">
      <% if @user.id == @current_user.id%>
      <div><h3>Your Ratings</h3></div>
      <% else %>
        <div><h3><%=@user.name%>'s Ratings</h3></div>
      <% end %>

      <% @user.beers.each do |b| %>
        <div class = "container" style = "padding: 4px">
          <div class="card">
            <div class="row">

              <div class="col-md-3">
                <a href="/beers/<%=b.id%>"><img src = <%= b.image%> class ="table_img"></a>
              </div> <!-- close col md 3 -->

              <div class="col-md-9" >
                <div class ="row">
                  <div class = "col-md-4 align-self-center">
                    <a class="text" href="/beers/<%=b.id%>"><h3><%= b.name %></h3></a>
                    
                    <a class = "text" href="/breweries/<%=b.brewery.id%>"><h6><%= b.brewery.name%></h6></a>
                  </div>
                  <div class = "col-md-3 align-self-center">
                    ABV: <%=b.abv%>
                    <br>
                    IBU: <%=b.ibu%>
                    <br>
                    Style: BLANK
                  </div>
                  
                  <!-- if looking at your own profile, you want to be able to update and like -->
                  <% if @current_user.id == @user.id %>
                    <div class = "col-md-3 align-self-center">
                      Avg. Rating: <%=b.avg_rating(false) %>
                      <br>
                      Your Rating: <%=b.avg_rating(session.fetch(:user_id)) %>
                      <br>
                      <a href="/beers/<%=b.id%>">Update Rating</a>
                    </div>
                
                    <!-- Icons section (for your own profile) -->
                    <%@favorite = b.favorite?(@user.id) %>
                    <%@flag = b.flag?(@user.id) %>
                    <%@beer_id = b.id %>
                    
                    <!-- favorites -->
                    <div class = "col-md-1 align-self-center">
                      <%= render "shared/favorite_button.html.erb" %>
                    </div>

                    <!--flags-->
                    <div class = "col-md-1 align-self-center">
                      <%=render "shared/flag_button.html.erb"%>
                    </div>
                    <!--- end of icons section (for own profile) -->
                  <!-- if you're looking at someone else's ratings, you want to see their ratings and have option to update your own-->
                  <% else %>
                    <div class = "col-md-3 align-self-center">
                      <%= @user.name %>'s Rating: <%=b.avg_rating(@user.id) %>
                      <br>
                      Your Rating: <%=b.avg_rating(@current_user.id) %>
                      <br>
                      Avg. Rating: <%=b.avg_rating(false) %>
                    </div>
                    <div class = "col-md-2 align-self-center">
                      Update Rating
                      <br>
                      <i class="fas fa-star"></i> 

                    </div>
                  <% end %>

                 
                </div>
                <hr>
                <div class = "row">
                  <div class = "col">
                    <%= b.ratings.where({:user_id => @user.id}).first.rating_comments%>
                  </div>
                </div>
                
              </div> <!-- close col md 9 -->


            </div> <!-- close row-->
          </div> <!-- close card-->
        </div> <!-- close container-->  
      <%end%>     

    </div>

    <div class = "col-md-3">
      <div class = "row">
        <div class ="card"><h3>Favorites</h3></div>
        <!-- try to get hover part to show beer name! -->
        <% @user.favorites.each do |f| %>
          <div>
            <a href="/beers/<%=f.beer.id%>"><img src = <%=f.beer.image%> class="table_img"></a>
          </div>
        <% end %>
      </div>

      <div class = "row">
        <div class="card"><h3>Must-Try Beers</h3></div>
        <% @user.flags.each do |f| %>
          <a href="/beers/<%=f.beer.id%>"><img src = <%=f.beer.image%> class="table_img"></a>
        <% end %>
      </div>
    </div>
  
  </div>
</div>
