<!--Banner with user info-->
<div class = "container-fluid" style="background-color: LightPink">
  <div class = "container" style="padding: 10px">
    <div class = "row align-items-center">
      
      <!-- pic -->
      <div class = "col-md-4">
        <img class = "profile-pic"
            src = <%= @user.photo%>>
      </div>
  
      <!-- info -->
      <div class = "col-md-6 banner-info">
        <h2><%=@user.name%></h2>
        <br>
        <h3><%=@user.display_name%></h3>
        <br>
        <i class="fas fa-beer"></i> <%=@user.ratings.count%> Beers | 
        <i class="fas fa-heart"></i> <%=@user.favorites.count%> Favorites |              
        <i class="fas fa-bookmark"></i> <%=@user.flags.count%> Must-Try Beers |  
        <i class="fas fa-star"></i> <%=@user.avg_rating%> Avg. Rating
      </div>

      <!-- edit link --> 
      <!--NOTE MAYBE WE ONLY WANT THIS WHEN ITS YOUR PROFILE BUT YOU CAN STILL SEE OTHER PROFILES -->
      <div class = "col-md-2">
        <button type = "button" class = "btn btn-outline-light">Edit profile <i class="fas fa-user-edit"></i></button>
      </div>
    </div>
  </div>
</div>

<br>

<!-- Ratings and others -->
<div class = "container"> 
  <div class = "row">
    <div class = "col-md-9">
      <div><h3>Your Ratings</h3></div>

      <% @user.beers.each do |b| %>
        <div class = "container" style = "padding: 4px">
          <div class="card">
            <div class="row">

              <div class="col-md-3">
                <a href="/beers/<%=b.id%>"><img src = <%= b.image%> class ="table_img"></a>
              </div> <!-- close col md 3 -->

              <div class="col-md-9" >
                <div class ="row">
                  <div class = "col-md-4 align-self-center">
                    <a href="/beers/<%=b.id%>"><h3><%= b.name %></h3></a>
                    <br>
                    <a href="/breweries/<%=b.brewery.id%>"><h6><%= b.brewery.name%></h6></a>
                  </div>
                  <div class = "col-md-3 align-self-center">
                    ABV: <%=b.abv%>
                    <br>
                    IBU: <%=b.ibu%>
                    <br>
                    Style: BLANK
                  </div>
                  <div class = "col-md-3 align-self-center">
                    Avg. Rating: <%=b.avg_rating(false) %>
                    <br>
                    Your Rating: <%=b.avg_rating(session.fetch(:user_id)) %>
                    <br>
                    Update Rating
                  </div>
                  <div class = "col-md-1 align-self-center">
                    <i class="far fa-heart" style="font-size: 2em"></i>
                  </div>
                  <div class = "col-md-1 align-self-center">
                    <i class="far fa-bookmark" style="font-size: 2em"></i>
                  </div>
                </div>
                <hr>
                <div class = "row">
                  <div class = "col">
                    <%=b.ratings.where({:user_id => session.fetch(:user_id)}).first.rating_comments%>
                  </div>
                </div>
                
              </div> <!-- close col md 9 -->


            </div> <!-- close row-->
          </div> <!-- close card-->
        </div> <!-- close container-->  
      <%end%>     

    </div>

    <div class = "col-md-3">
      <div class = "row">
        <div class ="card"><h3>Favorites</h3></div>
      </div>

      <div class = "row">
        <div class="card"><h3>Must-Try Beers</h3></div>
      </div>
    </div>
  
  </div>
</div>
