<div>
  <div>
    <h1>
      Who makes these delicious brews?
    </h1>
  </div>
</div>

<hr>


<% @list_of_breweries.each do |br| %>
<div class = "container" style = "padding: 4px">
  <div class="card">
    <div class="row">

      <div class="col-md-3">
        <a href = "/breweries/<%=br.id%>">
        <img src = <%= br.logo_image%> class ="table_img2"></a>
      </div> <!-- close col md 3 -->

      <div class="col-md-9" >
        <div class ="row">
          <div class = "col-md-6 align-self-center">
            <a href="/breweries/<%=br.id%>" class="text"><h3><%= br.name %></h3></a>
            <br>
            <i class="fas fa-star"></i> <%=br.avg_rating(false) %> Avg. Rating
            
          </div>
          
          <div class = "col-md-6 align-self-center">
            <i class="fas fa-phone-volume"></i> : <%= br.phone_number %>
            <br>
            <i class="fas fa-desktop"></i>: <a href=<%=br.website%>><%=br.website%></a>
            <br>
            <i class="fas fa-map-marked-alt"></i>: 
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%=CGI.escape(br.location)%>"
                target="_blank" rel="noopener noreferrer">
                <%=br.location%>
                </a>
            
          </div>
          
        </div>
        <hr>
        <div class = "row">
          <div class = "col">
            <div class="overflow-auto description-box">
              <%=br.description%>
            </div>
          </div>
        </div>
        
      </div> <!-- close col md 9 -->


    </div> <!-- close row-->
  </div> <!-- close card-->
</div> <!-- close container-->  
<%end%>     
