<div>
  <div>
    <h1>
      List of all breweries
    </h1>
  </div>
</div>

<hr>


<% @list_of_breweries.each do |br| %>
<div class = "container" style = "padding: 4px">
  <div class="card">
    <div class="row">

      <div class="col-md-3">
        <a href = "/breweries/<%=br.id%>">
        <img src = <%= br.logo_image%> class ="table_img"></a>
      </div> <!-- close col md 3 -->

      <div class="col-md-9" >
        <div class ="row">
          <div class = "col-md-6 align-self-center">
            <a href="/breweries/<%=br.id%>"><h3><%= br.name %></h3></a>
            <i class="fas fa-star"></i> <%=br.avg_rating(false)%> Average Rating     
          </div>
          
          <div class = "col-md-6 align-self-center">
            <i class="fas fa-phone-volume"></i> : <%= br.phone_number %>
            <br>
            <i class="fas fa-desktop"></i>: <a href=<%=br.website%>><%=br.website%></a>
            <br>
            <i class="fas fa-map-marked-alt"></i>: 
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%=CGI.escape(br.location)%>"
                target="_blank" rel="noopener noreferrer">
                <%=br.location%>
                </a>
            
          </div>
          
        </div>
        <hr>
        <div class = "row">
          <div class = "col">
            <%=br.description%>
          </div>
        </div>
        
      </div> <!-- close col md 9 -->


    </div> <!-- close row-->
  </div> <!-- close card-->
</div> <!-- close container-->  
<%end%>     

<hr>
<br>


<div>
  <div>
    <h2>
      Request a new brewery
    </h2>

    <form action="/insert_brewery" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="logo_image_box">
          Logo image
        </label>

        <input type="text" id="logo_image_box" name="query_logo_image">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="beers_count_box">
          Beers count
        </label>

        <input type="text" id="beers_count_box" name="query_beers_count">
      </div>

      <button>
        Create brewery
      </button>
    </form>
  </div>
</div>
