<div class = "container-fluid banner-img" style="background-image:url(<%=@the_brewery.banner_image%>)">
    
    <div class = "container" style="padding: 10px">
      <div class = "row align-items-center">
        
        <!--pic -->
        <div class = "col-md-4">
          <img class = "profile-pic img-thumbnail" style
              src = <%= @the_brewery.logo_image%>>
        </div>

        <!--info-->
        <div class = "col-md-6 banner-info">
        <h2><%=@the_brewery.name%></h2>
        <br>
        <i class="fas fa-phone-volume"></i> : <%= @the_brewery.phone_number %>
            <br>
            <i class="fas fa-desktop"></i>: <a href=<%=@the_brewery.website%>><%=@the_brewery.website%></a>
            <br>
            <i class="fas fa-map-marked-alt"></i>: 
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%=CGI.escape(@the_brewery.location)%>"
                target="_blank" rel="noopener noreferrer">
                <%=@the_brewery.location%>
                </a>
        <br><br>
        <i class="fas fa-beer"></i> <%=@the_brewery.beers_count%> Beers |              
        <i class="fas fa-star"></i> ##.## Average Rating     
      </div>
    </div>
  </div>
</div>

<!-- Description container -->
<div class = "container banner-info"> 
  <%= @the_brewery.description %>
</div> 

<!-- ratings and other info container -->
<div class = "container">
  <div class = "row">
    
    <!-- ratings cards-->
    <div class = "col-md-9">
      <h4><%=@the_brewery.name%> Ratings</h4>

      <% @beers.each do |b| %>

        <div class = "container" style = "padding: 4px">
          <div class="card">
            <div class="row">

              <div class="col-md-3">
                <img src = <%= b.image%> class ="table_img">
              </div> <!-- close col md 3 -->

              <div class="col-md-9" >
                <div class ="row">
                  <div class = "col-md-4 align-self-center">
                    <%= b.name %>
                    <br>
                    <%= b.style_id%>
                  </div>
                  <div class = "col-md-3 align-self-center">
                    ABV: <%=b.abv%>
                    <br>
                    IBU: <%=b.ibu%>
                    <br>
                    Style: BLANK
                  </div>
                  <div class = "col-md-3 align-self-center">
                    Avg. Rating:  b.avg_rating(false) 
                    <br>
                    Your Rating: 
                    <br>
                    Update Rating
                  </div>
                  <div class = "col-md-1 align-self-center">
                    <i class="far fa-heart" style="font-size: 2em"></i>
                  </div>
                  <div class = "col-md-1 align-self-center">
                    <i class="far fa-bookmark" style="font-size: 2em"></i>
                  </div>
                </div>
                <hr>
                <div class = "row">
                  <div class = "col">
                    <%=b.description%>
                  </div>
                </div>
                
              </div> <!-- close col md 9 -->


            </div> <!-- close row-->
          </div> <!-- close card-->
        </div> <!-- close container-->  

      <% end %>

















    </div> <!-- end of ratings cards-->




















    <!-- side stuff-->
    <div class = "col-md-3">
      <!-- map box-->
      <div class = "row">
        <h5>Map</h5>
      </div> <!-- end of map box-->

      <!-- other info box-->
      <div class ="row">
        <h5>Some other info box</h5>
      </div> <!-- end of other info box -->
        
    </div> <!--end of side stuff-->


  
  </div> <!-- end of main row -->

</div> <!-- end of container--> 




<!--<div class = "container-fluid banner-img" style="background-image:url(<%=@the_brewery.banner_image%>)">
    <div class = "container" style="padding: 10px">
      <div class = "row align-items-center">
        <div class = "col-md-4">
          <img class = "profile-pic img-thumbnail" style
              src = <%= @the_brewery.logo_image%>>
        </div>
      </div>
  </div>
</div>
-->



<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<!--Banner with user info-->
<div class = "container-fluid banner-img" style="background-image:url(<%=@the_brewery.banner_image%>)">
  
  <div class = "container" style="padding: 10px; opacity: 1;">
    <div class = "row align-items-center">
      
      <!-- pic -->
      <div class = "col-md-4">
        <img class = "profile-pic"
            src = <%= @the_brewery.logo_image%>>
      </div>
  
      <!-- info -->
      <div class = "col-md-4">
        <h2><%=@the_brewery.name%></h2>
        <br>
        <i class="fas fa-phone-volume"></i> : <%= @the_brewery.phone_number %>
            <br>
            <i class="fas fa-desktop"></i>: <a href=<%=@the_brewery.website%>><%=@the_brewery.website%></a>
            <br>
            <i class="fas fa-map-marked-alt"></i>: 
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%=CGI.escape(@the_brewery.location)%>"
                target="_blank" rel="noopener noreferrer">
                <%=@the_brewery.location%>
                </a>
        <br>
        <i class="fas fa-beer"></i> <%=@the_brewery.beers_count%> Beers |              
        <i class="fas fa-star"></i> ##.## Average Rating     
      </div>

      <!-- description --> 
      <div class = "col-md-4">
        <!--<%= @the_brewery.description %>-->
      </div>
    </div>
  </div>
</div>

<br>

<!-- Ratings and others -->
<div class = "container"> 
  <div class = "row">
    <div class = "col-md-9">
      <div class = "card">Your Ratings</div>
    </div>

    <div class = "col-md-3">
      <div class = "row">
        <div class ="card">Favorites</div>
      </div>

      <div class = "row">
        <div class="card">Must-Try Beers</div>
      </div>
    </div>
  
  </div>
</div>

<br>
<br>
<br>
<hr>



















<div>
  <div>
    <h1>
      Brewery #<%= @the_brewery.id %> details
    </h1>

    <div>
      <div>
        <a href="/breweries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_brewery/<%= @the_brewery.id %>">
          Delete brewery
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_brewery.name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_brewery.location %>
      </dd>

      <dt>
        Phone number
      </dt>
      <dd>
        <%= @the_brewery.phone_number %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <%= @the_brewery.website %>
      </dd>

      <dt>
        Logo image
      </dt>
      <dd>
        <%= @the_brewery.logo_image %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_brewery.description %>
      </dd>

      <dt>
        Beers count
      </dt>
      <dd>
        <%= @the_brewery.beers_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_brewery.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_brewery.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit brewery
    </h2>

    <form action="/modify_brewery/<%= @the_brewery.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_brewery.name %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_brewery.location %>">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number" value="<%= @the_brewery.phone_number %>">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_brewery.website %>">
      </div>

      <div>
        <label for="logo_image_box">
          Logo image
        </label>

        <input type="text" id="logo_image_box" name="query_logo_image" value="<%= @the_brewery.logo_image %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_brewery.description %>">
      </div>

      <div>
        <label for="beers_count_box">
          Beers count
        </label>

        <input type="text" id="beers_count_box" name="query_beers_count" value="<%= @the_brewery.beers_count %>">
      </div>

      <button>
        Update brewery
      </button>
    </form>
  </div>
</div>

<hr>
