<div>
  <div>
    <h1>
      What's on tap?
    </h1>
  </div>
</div>

<hr>

<div></div>

<% @list_of_beers.each do |b| %>
<div class = "container" style = "padding: 4px">
  <div class="card">
    <div class="row">

      <div class="col-md-3">
        <a href="/beers/<%=b.id%>"><img src = <%= b.image%> class ="table_img2"></a>
      </div> <!-- close col md 3 -->

      <div class="col-md-9" >
        <div class ="row">
          <div class = "col-md-4 align-self-center">
            <a href="/beers/<%=b.id%>" class="text card-text level-one"><%= b.name %></a><br>
            <br>
            <a href="/breweries/<%=b.brewery.id%>" class="text card-text level-two"><%= b.brewery.name%></a>
          </div>
          <div class = "col-md-3 align-self-center">
            ABV: <%=b.abv%>
            <br>
            IBU: <%=b.ibu%>
            <br>
            <%=b.style%>
          </div>
          <div class = "col-md-3 align-self-center">
            Avg. Rating: <%=b.avg_rating(false) %>
            <br>
            Your Rating: <%=b.avg_rating(@current_user.id) %>
            <br>
            <a href="/beers/<%=b.id%>" class="text">Update Rating</a>
          </div>

          <!-- Icons section -->
          <%@favorite = b.favorite?(@current_user.id) %>
          <%@flag = b.flag?(@current_user.id) %>
          <%@beer_id = b.id %>
          <!--favorites-->
          <div class = "col-md-1 align-self-center">
            <%= render "shared/favorite_button.html.erb" %>
          </div>

          <!--flags-->
          <div class = "col-md-1 align-self-center">
            <%=render "shared/flag_button.html.erb"%>
          </div>

          <!-- End of icons section -->
        </div>
        <hr>
        <div class = "row">
          <div class = "col description-box">
            <%=b.description%>
          </div>
        </div>
        
      </div> <!-- close col md 9 -->


    </div> <!-- close row-->
  </div> <!-- close card-->
</div> <!-- close container-->  
<%end%>     
      
