<div>
  <div>
    <h1>
      List of all beers
    </h1>
  </div>
</div>

<hr>

<div></div>

<% @list_of_beers.each do |b| %>
<div class = "container" style = "padding: 4px">
  <div class="card">
    <div class="row">

      <div class="col-md-3">
        <a href="/beers/<%=b.id%>"><img src = <%= b.image%> class ="table_img"></a>
      </div> <!-- close col md 3 -->

      <div class="col-md-9" >
        <div class ="row">
          <div class = "col-md-4 align-self-center">
            <a href="/beers/<%=b.id%>"><h4><%= b.name %></h4></a>
            <br>
            <a href="/breweries/<%=b.brewery.id%>"><h5><%= b.brewery.name%></h5></a>
          </div>
          <div class = "col-md-3 align-self-center">
            ABV: <%=b.abv%>
            <br>
            IBU: <%=b.ibu%>
            <br>
            Style: BLANK
          </div>
          <div class = "col-md-3 align-self-center">
            Avg. Rating: <%=b.avg_rating(false) %>
            <br>
            Your Rating: <%=b.avg_rating(@current_user.id) %>
            <br>
            Update Rating
          </div>

          <!-- Icons section -->
          <%@favorite = b.favorite?(@current_user.id) %>
          <%@flag = b.flag?(@current_user.id) %>
          <%@beer_id = b.id %>
          <!--favorites-->
          <div class = "col-md-1 align-self-center">
            <%= render "shared/favorite_button.html.erb" %>
          </div>

          <!--flags-->
          <div class = "col-md-1 align-self-center">
            <%=render "shared/flag_button.html.erb"%>
          </div>

          <!-- End of icons section -->
        </div>
        <hr>
        <div class = "row">
          <div class = "col">
            <%=b.description%>
          </div>
        </div>
        
      </div> <!-- close col md 9 -->


    </div> <!-- close row-->
  </div> <!-- close card-->
</div> <!-- close container-->  
<%end%>     
      

<!-- Form for adding a new beer.... I think we want to remove for now!-->
<hr>

<div>
  <div>
    <h2>
      Add a new beer
    </h2>

    <form action="/insert_beer" method="post">
      
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="brewery_id_box">Brewery</label>

        <select id = "brewery_id_box" name = "query_brewery_id">
          <% Brewery.all.each do |br| %>
            <option value = "<%=br.id%>"><%=br.name%></option>
          <% end %>
        </select>
      </div>


      <div>
        <label for="abv_box">
          Abv
        </label>

        <input type="text" id="abv_box" name="query_abv">
      </div>

      <div>
        <label for="ibu_box">
          Ibu
        </label>

        <input type="text" id="ibu_box" name="query_ibu">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="style_id_box">
          Style
        </label>

        <input type="text" id="style_id_box" name="query_style_id">
      </div>

      <button>
        Create beer
      </button>
    </form>
  </div>
</div>