<div>
  <div>
    <h1>
      <%= @the_beer.name %>
      
    </h1>

    <div>
      <div>
        <a href="/beers">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_beer.name %>
      </dd>

      <dt>
        Brewery
      </dt>
      <dd>
        <%= @the_beer.brewery.name %>
      </dd>

      <dt>
        Abv
      </dt>
      <dd>
        <%= @the_beer.abv %>
      </dd>

      <dt>
        Ibu
      </dt>
      <dd>
        <%= @the_beer.ibu %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_beer.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src = <%= @the_beer.image %> class = "table_img">
      </dd>

      <dt>
        Style
      </dt>
      <dd>
        <%= @the_beer.style_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_beer.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_beer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>




<div> 
  <% if !@curr_rating %> 
    <h2>Rate beer</h2>

    <form action = "/insert_rating" method="post">
      <label for ="rating">Rating</label>
      <input id="rating" name="query_rating">

      <label for = "comment">Comments</label>
      <input id = "comment" name = "query_rating_comments">
      
      <input id = "beer_id" type ="hidden"
            value=<%=@the_beer.id%> name = "query_beer_id">

      <button>Rate this beer</button>
    </form>
  
  <% else %>
    <h2>Update rating</h2>
    
    <form action = "/modify_rating/<%=@curr_rating.id%>" method="post">
      <label for ="rating">Rating</label>
      <input id="rating" value = <%=@curr_rating.rating %> name="query_rating">

      <label for = "comment">Comments</label>
      <input id = "comment" type="text" value = "<%=@curr_rating.rating_comments%>" name = "query_rating_comments">
      
      <input id = "beer_id" type ="hidden"
            value=<%=@the_beer.id%> name = "query_beer_id">

      <button>Rate this beer</button>
    </form>



  <% end %>



</div>

<hr>

<!--test toggling like buttons --> 
<i onclick="myFunction(this)" class="fa fa-heart"></i>

<script>
function myFunction(x) {
  x.classList.toggle("fa fa-bookmark");
}
</script>


<br><br><br>





<!-- Favorite vs. not -->
<%if @favorite %>
  Unlike 
  <form action = "/delete_favorite/<%=@favorite.id%>">
    <button class = "icon-btn"><i class="fas fa-heart" style="font-size: 2em"></i></button>
  </form>
<% else %>
  Favorite this beer 
   <form action = "/insert_favorite" method="post">
     <input id = "beer_id" type ="hidden"
            value=<%=@the_beer.id%> name = "query_beer_id">
    <button class="icon-btn"><i class="far fa-heart" style="font-size: 2em"></i></button>
  </form>
<% end %>


<!-- Flag vs. not -->
<%if @flag %>
  Unflag 
  <form action = "/delete_flag/<%=@flag.id%>">
    <button class = "icon-btn"><i class="fas fa-bookmark" style="font-size: 2em"></i></button>
  </form>
<% else %>
  Flag this beer 
   <form action = "/insert_flag" method="post">
     <input id = "beer_id" type ="hidden"
            value=<%=@the_beer.id%> name = "query_beer_id">
    <button class="icon-btn"><i class="far fa-bookmark" style="font-size: 2em"></i></button>
  </form>
<% end %>
