<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/beers">Beers</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@the_beer.name%></li>
  </ol>
</nav>


<!--Banner with user info-->
<div class = "container-fluid" style="background-color: LightPink">
  <div class = "container" style="padding: 10px">
    <div class = "row align-items-center">
      
      <!-- pic -->
      <div class = "col-md-4">
        <img class = "profile-pic banner-pic"
            src = <%= @the_beer.image%>>
      </div>
  
      <!-- info -->
      <div class = "col-md-6 banner-info">
        <div class="banner-title"><%=@the_beer.name%></div>
        <a href = "/breweries/<%=@the_beer.brewery.id%>"><div class="banner-subtitle"><%=@the_beer.brewery.name%></div></a>
        <div class="banner-subtitle2">Style name goes here</div>
        <br>
        <div class="banner-text">
          <i class="fas fa-beer"></i> <%=@the_beer.ratings.count %> Beers | 
          <i class="fas fa-heart"></i> <%=@the_beer.favorites.count%> Favorites |              
          <i class="fas fa-bookmark"></i> <%=@the_beer.flags.count%> Must-Try Beers |  
          <br>
          <%@rating=@the_beer.avg_rating(false)%> 
          <%= render "shared/rating_stars.html.erb"%> <%=@rating%> Avg. Rating
        </div>
      </div>

      
    </div>
  </div>
</div>

<!-- Description container -->
<div class = "container banner-info description-box"> 
  <%=@the_beer.description %>
</div> 

<!-- Ratings and other info-->
<div class="container">
  <div class = "row">

     <!--ratings and reviews! --> 
    <div class = "col-md-9">
      <h4><%=@the_beer.name%> Ratings</h4>
      
      <div class="container">
        <% @the_beer.ratings.order({:updated_at => :desc}).each do |r| %>
          <div class="card">
            <div class="row">
              <div class = "col-md-3 align-self-center">
                <a href="/users/<%=r.user.id%>">
                  <img src = <%=r.user.photo %> class = "profile-pic feed-pic">
                </a>
              </div>
              
              <div class="col-md-9">
                <h5>
                    <a href="/users/<%=r.user_id%>" class="text"><%=r.user.display_name%></a><br>
                    <%= r.rating %>
                  </h5>
                
                <p><%=r.rating_comments%></p>
                <p>Posted <%=time_ago_in_words(r.updated_at)%> ago<p>
              </div>
            </div>
          
          </div>
        <% end %>
      </div>



    </div>

    <!-- others who like this -->
    <div class = "col-md-3">
      <div class="row">
          <% if !@curr_rating %> 
            <h4>Rate beer</h4>

            <form action = "/insert_rating" method="post">
              <label for ="rating">Rating</label>
              <!--<input id="rating" name="query_rating">-->
              <input id="rating" name = query_rating
                     type="range" class="form-range" min="0" max = "5" step = "0.25">
              <br>
              <label for = "comment">Comments</label>
              <input id = "comment" name = "query_rating_comments">
              
              <input id = "beer_id" type ="hidden"
                    value=<%=@the_beer.id%> name = "query_beer_id">

              <button>Rate this beer</button>
            </form>
          
          <% else %>
            <h4>Update rating</h4>
            
            <form action = "/modify_rating/<%=@curr_rating.id%>" method="post">
              <label for ="rating">Rating</label>
              <!--<input id="rating" value = <%=@curr_rating.rating %> name="query_rating">-->
              <input id="rating" name = query_rating value = <%=@curr_rating.rating %>
                     type="range" class="form-range" min="0" max = "5" step = "0.25">
                     
              <br>
              <label for = "comment">Comments</label>
              <input id = "comment" type="text" value = "<%=@curr_rating.rating_comments%>" name = "query_rating_comments">
              
              <input id = "beer_id" type ="hidden"
                    value=<%=@the_beer.id%> name = "query_beer_id">

              <button>Rate this beer</button>
            </form>
          <% end %>
        
      </div>

      <!-- favorite and flag -->
      <div class="row justify-content-around">
        <%@favorite = @the_beer.favorite?(@current_user.id) %>
        <%@flag = @the_beer.flag?(@current_user.id) %>
        <%@beer_id = @the_beer.id %>

        <div class="col-md-4"><%= render "shared/favorite_button.html.erb"%></div>
        <div class="col-md-4"><%= render "shared/flag_button.html.erb"%></div>
      </div>

      <div class="row">
        <h4>Favorited by</h4>

        <% @the_beer.favorites.each do |f| %>
          <a href="/users/<%=f.user_id%>" class="text">
            <img class="profile-pic xs-pic" src="<%=f.user.photo%>">
            <%= f.user.display_name %>
          </a>
          
        <%end%>

      </div>
    </div>
  </div>
</div>













<input id="ex1" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>



<script>
$('#ex1').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});

</script>
<br><br><br><br>


<!-- this is how you get the stars to show!!! ---> 
<!--<p><span class="stars-container stars-70">★★★★★</span></p>-->
<!--
<div class="chrome">
  <input id="myinput" 
    min="0" max="60" type="range" value="30"/>
</div>
<span id="myinputSliderValLabel">Current Slider Value: <span id="myinputSliderValLabel">Current Slider Value: <span id="myinputSliderValLabel">3</span></span>">3</span></span>

<script>
document.getElementById("myinput").oninput = function() {
  var value = (this.value-this.min)/(this.max-this.min)*100
  this.style.background = 'linear-gradient(to right, #82CFD0 0%, #82CFD0 ' + value + '%, #fff ' + value + '%, white 100%)'
};


var slider = new Slider('#ex1', {
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});


slider.on("slide", function(sliderValue) {
	document.getElementById("ex6SliderVal").textContent = sliderValue;
});
</script>
-->

<input id="ex1" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
<script>
$('#ex1').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
</script>

