<div class = "container">

  <div class = "row"> 
    <div class = "col text-center">
      <h2>Welcome <%= @current_user.display_name %>!</h2>
    </div>
  </div>
 <!--**************************************************************-->
  <div class = "row justify-content-center">
    <div class = "col text-center"> 
      <a href = "/beers" type = "button" class = "btn btn-info btn-block">
        Explore Beers<br><i class="fas fa-beer"></i>
      </a>
    </div>
    <div class = "col text-center">
      <a href = "/breweries" type = "button" class = "btn btn-info btn-block">
        Explore Breweries<br><i class="fas fa-building"></i>
      </a>
    </div>
    <div class = "col text-center">
      <a href = "/user_list" type = "button" class = "btn btn-info btn-block">
        Find Friends<br><i class="fas fa-user-friends"></i>
      </a>
    </div>

  </div>
 <!--**************************************************************-->
  <br>
 <!--**************************************************************-->
  <!--<div class = "row justify-content-center">-->
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 d-flex justify-content-center">
        <a href="/beers/<%=@beer_of_the_day.id%>"><img src = "<%=@beer_of_the_day.image%>" class="home-pic justify-content-center"></a>  
      </div>    

      <div class = "col-md-6">

        <a href="/beers/<%=@beer_of_the_day.id%>" class="text"><h4>Check out <%= @beer_of_the_day.name %>! </h4></a>

        <% if @beer_of_the_day.ratings.count == 0 %>
          No reviews yet! 
          <br>
          <a href="/beers/<%=@beer_of_the_day.id%>" class="text">Be the first to review it now! </a>
        <% else %>

          <% @beer_of_the_day.ratings.order({:updated_at => :desc}).each_with_index do |r, index| %>
            <% break if index > 3 %>
            <div class = "container">  
                <div class="row">
                <div class="col-md-4">
                  <a href= "/users/<%= r.user_id %>" >
                    <img src = "<%=r.user.photo%>" class = "profile-pic xs-pic">
                  </a>
                </div>
                <div class = "col-md-8">
                  <a href="/beers/<%=r.beer_id%>" class="text"><%= r.beer.name %></a>
                  <br>
                  <i class="fas fa-star"></i> <%= r.rating %>
                  <p style="font-style:italic"><%= r.rating_comments %></p>
                </div>
              </div>
            </div>
          <% end %>
        <%end %>
        </div>
      </div>

    </div>
  
  </div>
 
